.toggle-btn{
    position: absolute;
    right: 35px;
    top: 35px;
    z-index: 3;
    cursor: pointer;
    @include fade;

    .toggle-line{
        width: 30px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #ffff;
        @include fade;
    }
    &.close{
        transform: rotate(180deg);

        .toggle-line{

            &:nth-child(1){
                transform: rotate(45deg) translate(5px,5px);
            }
            &:nth-child(2){
                opacity: 0;
            }
            &:nth-child(3){
                transform: rotate(-45deg) translate(7px,-6px);
            }
        }
    }
}

.menu{
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.95;
    visibility: hidden;

    &.show{
        visibility: visible;
    }
    .left,.right{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }
    .right{
        margin: 0;
        padding: 0; 
        background:url(../img/right2.png);
        background-attachment: fixed;
        background-size: cover;
        list-style: none;
        transform: translate3d(0,-100%,0);
        @include fade;

        &.show{
            transform: translate3d(0,0,0);
        }
    }
    .left{
        background:url(../img/left.png);
        background-attachment: fixed;
        background-size: cover;
        transform: translate3d(0,100%,0);
        @include fade;

        &.show{
            transform: translate3d(0,0,0);
        }

        .logo{
            width: 250px;
            height: 250px;
            background: url(../img/profile.jpg);
            border-radius: 50%;
            border: solid 3px $secondary-color;
        }
    }
    .nav-items{
        transform:translate3d(600px,0,0);
        @include fade;

        &.show{
            transform:translate3d(0,0,0);
        }
        &.active > a{
            color: $secondary-color;
        }
    }
    .nav-link {
        display:inline-block;
        position: relative;
        font-size: 22px;
        padding:0.8rem 0;
        font-weight: 700;
        color: black;
        text-decoration: none;
        @include fade;

        &:hover{
            color: $secondary-color;
        }
    
    }
}
@for $i from 1 through 5{
    .nav-items:nth-child(#{$i}){
        transition-delay:$i*0.1s;
    }
}