@include mediaXL{
    
}
@include mediaL{

}
@include mediaM{
    main{
        align-items: center;
        text-align: center;
    }
    .menu >ul.right,
    .menu > div.left{
        float: none;
        width: 100%;
        min-height: 0;

        .show{
            transform: translate3d(0,0,0);
        }
    }
    .right{
        height: 75vh;
        transform: translate3d(-100%,0,0);
        font-size: 24px;
    }
}


@include mediaSM{
    main#home h1{
        //margin-top: 10vh;
        &.lg-heading{
            font-size: 3rem;
        }
        
    }
}